<div class="row-fluid brown-border-bottom">
<h3 class="pad-bot">Contacts</h3>
<form name="contactSearchForm" ng-submit="search()">
         <strong>Search: </strong>
        <input class="input-medium search-query" type="search" name="orgName" placeholder="Organisation" ng-model="contactSearchFormData.org_nm" typeahead-min-length="3" typeahead="suggestion for suggestion in contactsuggest($viewValue)" ng-uppercase-input />

    <button class="btn btn-primary" type="submit" id="search-button">Search</button>
    <button class="btn btn-danger" type="button" ng-click="clearForm();" id="clear-button">Clear</button>
    
    <a style="padding-left:20px;" href="" ng-click="isCollapsed = !isCollapsed">Advanced Search</a>
    
    <button class="btn btn-success" ng-click="add();" type="button" style="float:right;">Add New Contact</button>
        
    <div collapse="!isCollapsed">
		<div style="margin-top:10px;" class="well well-large">
            <div class="control-group controls-row" style="padding:10px 0;">
             <input class="input-small search-query" type="search" name="release_year" ng-model="contactSearchFormData.email" placeholder="Email" />
             <label class="control-label inline" style="margin-right:5px;">Category </label>
                    <select ng-model="contactSearchFormData.dept_sun" class="input-large" ng-options="d.department_no as d.department_nm for d in departments"><option></option></select>
                        
                   
            </div>
        </div> 
	</div>
    
</form>   
</div>  
<div class="row-fluid"> 
<div ng-show="contacts.$resolved && contacts.length != 0">   
<h5>{{contacts.length}} contacts found.</h5>
<table class="table table-striped">
        <tr>

          <th><a href="" ng-click="predicate = 'org_nm'; reverse=!reverse">Organisation</a></th>
          <th><a href="" ng-click="predicate = 'contact_nm'; reverse=!reverse">Contact</a></th>
          <th><a href="" ng-click="predicate = 'email'; reverse=!reverse">Email</a><i class="icon-arrow-down"></i></th>
        </tr>
        <tr ng-repeat="contact in contacts  | orderBy:predicate:reverse">
          
            <td><a href="#/contacts/{{contact.contact_no}}">{{contact.org_nm}}</a></td>
          <td>{{contact.contact_nm}}</td>
          <td>{{contact.email}}</td>
        </tr>
      </table>
</div>
<div class="row-fluid" ng-show="contacts.$resolved && contacts.length == 0">
        <h3>No one found yo!</h3>
</div>   
</div>