<div class="row-fluid">
<form name="releaseSearchForm" ng-submit="search()">
         <strong>Search: </strong><input class="input-medium search-query" type="text" name="artist_nm" placeholder="Artist" ng-model="releaseSearchFormData.artist_nm" typeahead="suggestion for suggestion in artists($viewValue)" ng-uppercase-input />
         <input class="input-medium search-query" type="text" placeholder="Title" ng-model="releaseSearchFormData.title" typeahead="suggestion for suggestion in titles($viewValue)" ng-uppercase-input />
    
    <button class="btn btn-primary" type="submit" id="search-button">Search</button>
    <button class="btn btn-danger" type="button" ng-click="clearForm();" id="clear-button">Clear</button>
    
    <a style="padding-left:20px;" href="" ng-click="isCollapsed = !isCollapsed">Advanced Search</a>
    
    <button class="btn btn-primary" ng-click="add();" type="button" style="float:right;">Add New Release</button>
        
    <div collapse="isCollapsed">
		<div style="margin-top:10px;" class="well well-large">
            <div class="control-group controls-row" style="padding:10px 0;">
             <input class="input-small search-query" type="text" name="release_year" ng-model="releaseSearchFormData.release_year" placeholder="Release Year" />
             <input class="input-medium search-query" type="text" name="release_location" ng-model="releaseSearchFormData.release_location" placeholder="Log" />
            <label class="checkbox inline"><input type="checkbox" >Local?</label>
            <label name="cont_female" class="checkbox inline" ng-model="releaseSearchFormData.cont_female" ng-true-value="F" ng-false-value="" ><input type="checkbox" >Female?</label>
            </div>
        </div> 
	</div>
    
</form>   
</div>  
<div class="row-fluid">   

<table class="table table-striped" style="margin-top:30px;">
        <tr>
        <th><a href="" ng-click="predicate = 'name'; reverse=false">Artist</a></th>
          <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
          <th><a href="" ng-click="predicate = 'library_no'; reverse=!reverse">ID</a></th>
          <th><a href="" ng-click="predicate = 'release_year'; reverse=!reverse">Year</a><i class="icon-arrow-down"></i></th>
        </tr>
        <tr ng-repeat="release in releases  | orderBy:predicate:reverse">
          <td>{{release.artist_nm}}</td>
            <td><a href="#/releases/{{release.library_no}}">{{release.title}}</a></td>
          <td>{{release.library_no}}</td>
          <td>{{release.release_year}}</td>
        </tr>
</table>
    
</div>