<form ng-submit="search()">
        Artist <input class="input-medium search-query" type="text" ng-model="artistname" typeahead="suggestion for suggestion in artists($viewValue)" />
        Title <input class="input-medium search-query" type="text" ng-model="title" typeahead="suggestion for suggestion in titles($viewValue)" />
        <button type="submit" id="search-button">Search</button> <a style="padding-left:20px;" href="" ng-click="isCollapsed = !isCollapsed">Advanced Search</a>
        
    <div collapse="isCollapsed">
		<div style="margin-top:10px;" class="well well-large">
            <label class="checkbox inline"><input type="checkbox" >Local?</label>
            <label class="checkbox inline"><input type="checkbox" >Female?</label>
        </div> 
	</div>
</form>  

<form class="form-horizontal">
<fieldset>
<div class="container-fluid">
    <h2><a href="#/artist/{{release.artist_nm}}">{{release.artist_nm}}</a></h2>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>

    
    <div class="row-fluid">  
        <div class="span6">
            <div class="form-box">
                <h6 class="sideheader">Music/Album</h6>
                
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Artist</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-uppercase-input ng-model="release.artist_nm">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Title</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-uppercase-input ng-model="release.title">
                    </div>
                </div>
                <div class="control-group controls-row"> 
                    <label class="control-label" style="margin-right:5px;">APRA Code</label>
                    <input type="text" class="span3" ng-model="release.apra_code">
                    <label class="control-label" style="margin-right:5px;">Release Year</label>
                    <input type="text" class="span3" ng-model="release.release_year">
                </div>
                <div class="control-group controls-row" style="padding:10px 0;"> 
                     <span style="float:left;margin-left:25px;"><label class="checkbox inline"><input type="checkbox" ng-model="release.cont_female" ng-true-value="F" ng-false-value="">Female?</label>
                    <label class="checkbox inline"><input type="checkbox" ng-model="release.cont_local" ng-true-value="L" ng-false-value="">Local?</label>
                         </span>
                    <label class="control-label" style="margin-right:5px;">Aus/NZ?</label>  
                    <select ng-model="release.cont_ausnz" class="span3" ng-options="a for a in ausnz"></select>
                </div>
                <div class="control-group">
                    <label class="control-label">Home Town</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.artist_hometown">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.album_origin">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Artist Email</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.artist_email">
                    </div>
                </div>   
                <div class="control-group">
                    <label class="control-label">Website</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.artist_website">
                    </div>
                </div>
                        
                <div class="control-group controls-row"> 
                    <label class="control-label" style="margin-right:5px;">Genre 1</label>
                    <select ng-model="release.cont_genre" class="span3" ng-options="g.genre_id as g.genre_desc for g in genres"></select>
                    <label class="control-label" style="margin-right:5px;">Genre 2</label>
                    <select ng-model="release.cont_subgenre" class="span3" ng-options="g.genre_id as g.genre_desc for g in genres"></select>
                </div>
            </div> <!-- end music/album section -->
            <div class="form-box">
            <h6 class="sideheader">Release Info</h6>
                <div class="control-group" style="clear:both;">
                <label class="control-label">Producer</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" ng-model="release.album_producer">
                </div>
                </div>   
                <div class="control-group">
                    <label class="control-label">Songwriter</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.album_songwriter">
                    </div>
                </div>
                <div class="control-group controls-row"> 
                    <label class="control-label" style="margin-right:5px;">Recorded At</label>
                    <input type="text" class="span4" ng-model="release.album_record_at">
                    <label class="control-label" style="margin-right:5px;">Date</label>
                    <input type="text" class="span2" ng-model="release.album_record_dt">         
                </div>
                <div class="control-group">
                    <label class="control-label">Comments</label>
                    <div class="controls">
                        <textarea rows="5" ng-model="release.comments" class="input-xlarge"></textarea>
                    </div>
                </div>
            </div> <!-- end release info section -->
            <div class="form-box">
            <h6 class="sideheader">Release Support</h6>
                <div class="control-group controls-row" style="clear:both;"> 
                    <label class="control-label" style="margin-right:5px;">Promotions</label>  
                    <select ng-model="release.support_choice" class="span3" ng-options="p for p in promo">
                        <option></option>
                    </select>
                    <label class="control-label" style="margin-right:5px;">Interview</label>
                    <input type="text" class="span2" ng-model="release.interview_dt">         
                </div>
                <div class="control-group">
                    <label class="control-label">Comments</label>
                    <div class="controls">
                        <textarea ng-model="release.release_notes" class="input-xlarge"></textarea>
                    </div>
                </div>
            </div> <!-- end support section -->
        </div> <!-- end span 6  -->
    
        <div class="span6">
            
            
            <div class="form-box">
                <h6 class="sideheader">Subscriber</h6>
                <div class="control-group controls-row" style="clear:both;"> 
                    <label class="control-label" style="margin-right:5px;">Subscriber</label>
                    <input type="text" class="span3" ng-model="subscriber.subnumber">
                    <label class="control-label" style="margin-right:5px;">Expiry Date</label>
                    <input type="text" class="span3" ng-model="subscriber.expirydate">
                </div>
  
            </div> <!-- end Subscriber Info  -->
            
            <div class="form-box">
                <h6 class="sideheader">Track Info</h6>
                <table>
                    <tr>
                        <th>#</th><th>Track Name</th><th>Lang.</th><th>Concept</th><th>THEME</th><th>THEME</th>
                    </tr>
                    <tr>
                        <td><input type="text" style="width:20px;" ng-model="release.track1_num"></td>
                        <td><input type="text" class="input-small" ng-model="release.track1_name"></td>
                        <td><input type="checkbox" ng-model="release.track1_language" ng-true-value="1" ng-false-value=""></td>
                        <td><input type="checkbox" ng-model="release.track1_concept" ng-true-value="1" ng-false-value=""></td>
                        <td>
                            <select ng-model="release.track1_theme1" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                        <td>
                            <select ng-model="release.track1_theme2" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" style="width:20px;" ng-model="release.track2_num"></td>
                        <td><input type="text" class="input-small" ng-model="release.track2_name"></td>
                        <td><input type="checkbox" ng-model="release.track2_language" ng-true-value="1" ng-false-value=""></td>
                        <td><input type="checkbox" ng-model="release.track2_concept" ng-true-value="1" ng-false-value=""></td>
                        <td>
                            <select ng-model="release.track2_theme1" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                        <td>
                            <select ng-model="release.track2_theme2" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" style="width:20px;" ng-model="release.track3_num"></td>
                        <td><input type="text" class="input-small" ng-model="release.track3_name"></td>
                        <td><input type="checkbox" ng-model="release.track3_language" ng-true-value="1" ng-false-value=""></td>
                        <td><input type="checkbox" ng-model="release.track3_concept" ng-true-value="1" ng-false-value=""></td>
                        <td>
                            <select ng-model="release.track3_theme1" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                        <td>
                            <select ng-model="release.track3_theme2" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="text" style="width:20px;" ng-model="release.track4_num"></td>
                        <td><input type="text" class="input-small" ng-model="release.track4_name"></td>
                        <td><input type="checkbox" ng-model="release.track4_language" ng-true-value="1" ng-false-value=""></td>
                        <td><input type="checkbox" ng-model="release.track4_concept" ng-true-value="1" ng-false-value=""></td>
                        <td>
                            <select ng-model="release.track4_theme1" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                        <td>
                            <select ng-model="release.track4_theme2" class="input-small" ng-options="t.theme_id as t.theme_desc for t in themes"></select>
                        </td>
                    </tr>
                </table>
            </div> <!-- end Track Info  -->
            <div class="form-box">
                <h6 class="sideheader">Music Department</h6>
                <div class="control-group controls-row" style="clear:both;"> 
                    <label class="control-label" style="margin-right:5px;">Sent Format</label>  
                    <select ng-model="release.format_submitted" class="span3" ng-options="f for f in format">
                        <option></option>
                    </select>
                    <label class="control-label" style="margin-right:5px;"># submitted</label>
                    <input type="text" class="span2" ng-model="release.release_numgiven">         
                </div>
                <div class="control-group controls-row" style="clear:both;"> 
                    <label class="control-label" style="margin-right:5px;">Lib. Format</label>  
                    <select ng-model="release.format_stored" class="span3" ng-options="f for f in format">
                        <option></option>
                    </select>
                    <label class="control-label" style="margin-right:5px;">Condition</label>
                    <input type="text" class="span2" ng-model="release.media_cond">         
                </div>
                <div class="control-group">
                    <label class="control-label">Log</label>
                    <div class="controls">
                        <textarea ng-model="release.release_location" class="input-xlarge"></textarea>
                    </div>
                </div>    
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        <select ng-model="release.status" class="input-large" ng-options="s for s in status">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Reviewed</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.release_reviewed">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Returned</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.release_returned">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rejected</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.release_rejected">
                    </div>
                </div>
            </div> <!-- end Music Dep -->
            <div class="form-box">
                <h6 class="sideheader">System</h6>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">System ID</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.library_no">
                    </div>
                </div>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Created</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.entered_dt">
                    </div>
                </div>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Modified</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.modify_dt">
                    </div>
                </div>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">User</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="release.modify_user">
                    </div>
                </div>
            </div>
        </div> <!-- end span 6  -->
        
    </div> <!-- end row  -->    
    
   
            
            
    <div class="form-actions">   
        <button type="submit" ng-click="saveRelease();" class="btn btn-primary">Update</button>
        <button type="submit" ng-click="deleteRelease();" class="btn btn-danger">Delete</button>   
    </div>    
            
</div>   

</fieldset>
</form>