<form class="form-horizontal">
<fieldset>
<div class="container-fluid">

    <div class="row  brown-border-bottom">
                
                <ul class="inline" style="font-size:24px;margin-bottom:40px;font-weight:bold;">
                    <li>{{sub.subfirstname}} {{sub.sublastname}}</li>                
                    <li><h5><a href="#/subscribers">Back to search</a></h5></li>
                </ul>
                <ul class="inline">
                    <li><strong>ID:</strong> {{sub.subnumber}}</li>
                    <li><strong>Created:</strong> {{sub.created_at}}</li>
                    <li><strong>Last Updated:</strong> {{sub.updated_at}}</li>                    
                </ul>
           
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{ alert.msg }}</alert>
    </div>
    <div class="row-fluid">  
        <div class="span6">
            <div class="form-box">
                <h6 class="sideheader">Contact</h6>
                
                <div class="control-group" style="clear:both;">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-uppercase-input ng-model="sub.subfirstname" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-uppercase-input ng-model="sub.sublastname" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Home Phone</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subhomephone">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Mobile Ph</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.submobile">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subemail">
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label">Web Url</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.suburl">
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label">Gender</label>
                    <div class="controls">
                        <select ng-model="sub.gender" class="input-small" ng-options="g.id as g.desc for g in gender">
                            <option></option>
                        </select>
                    </div>
                </div>
                
                <div class="control-group controls-row" style="padding:10px 0;"> 
                     <span style="float:left;margin-left:25px;"><label class="checkbox inline"><input type="checkbox" ng-model="sub.fl_volunteer">Volunteer?</label>
                    <label class="checkbox inline"><input type="checkbox" ng-model="sub.fl_announcer">Announcer?</label>
                    </span>
            </div>
                
                        
                
            </div> <!-- end music/album section -->
            <div class="form-box">
            <h6 class="sideheader">Details</h6>
                <div class="control-group" style="clear:both;">
                <label class="control-label">Organisation</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" ng-model="sub.subbusinessname">
                </div>
                </div>   
                <div class="control-group">
                    <label class="control-label">Band Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subbandname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Artist</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subartistname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Musician</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.submusicianname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">DJ Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subdjname">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Skills</label>
                    <div class="controls">
                        <select ng-model="sub.subskill" class="input-large" ng-options="s.skillid as s.skilldescription for s in skills"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Skills (Other)</label>
                    <div class="controls">
                        <textarea ng-model="sub.subskilldesc" class="input-xlarge"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Comments</label>
                    <div class="controls">
                        <textarea ng-model="sub.subcomment" class="input-xlarge" rows="6"></textarea>
                    </div>
                </div>  
                
            </div> <!-- end details section -->
            
        </div> <!-- end span 6  -->
    
        <div class="span6">
            
            
            <div class="form-box">
                <h6 class="sideheader">Location</h6>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subaddress1">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.subaddress2">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Suburb</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="suburbName" ng-model="sub.suburb.suburb" typeahead-min-length="3" typeahead-on-select='onSuburbChange($item, $model, $label)' typeahead="s.suburb for s in suburbsuggest($viewValue)" ng-uppercase-input>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Postcode</label>
                    <div class="controls">
                        <input type="text" class="input-small uneditable-input" ng-model="sub.suburb.postcode" name="postCode"  />
                            <!-- <input type="text" class="input-xlarge" ng-model="sub.suburb.postcode" name="postCode" typeahead="suggestion for suggestion in postcodesuggest($viewValue)" ng-uppercase-input > -->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">State</label>
                    <div class="controls">
                        <input type="text" class="input-small uneditable-input" ng-model="sub.suburb.state">
                    </div>
                </div> 
  
            </div> <!-- end Subscriber Info  -->
            
            
            <div class="form-box">
                <h6 class="sideheader">Subscription</h6>
                
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Sub #</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge uneditable-input" ng-model="sub.subnumber">
                    </div>
                </div>    
                <div class="control-group">
                    <label class="control-label">Sub Type</label>
                    <div class="controls">
                        <select ng-model="sub.subtypeid" class="input-large" ng-options="s.subtypeid as s.subtypecode for s  in subtypes">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Program</label>
                    <div class="controls">
                        <select ng-model="sub.programid" class="input-large" ng-options="p.programid as p.programname for p in programs"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Donation</label>
                    <div class="controls">
                        <input type="text" class="input-small" ng-model="sub.donation">
                    </div>
                </div>  
                <div class="control-group">
                    <label class="control-label">Radiothon</label>
                    <div class="controls">
                        
                         <input type="text" class="input-large" ng-model="sub.radiothonprizeid">
                    </div>
                </div>  
                <div class="control-group">
                    <label class="control-label">Sub Expiry</label>
                    <div class="controls">
                        <input type="text" class="input-small" ng-model="sub.expirydate" data-date-format="yyyy/mm/dd" bs-datepicker>
                    </div>
                </div>
                <div class="control-group controls-row" style="padding:10px 0;"> 
                     <span style="float:left;margin-left:25px;"><label class="checkbox inline"><input type="checkbox" ng-model="sub.subscription_update" ng-true-value="1" ng-false-value="0">Paid</label>
                    Tick if new or renewing subscription
                    </span>
            </div>
                <div class="control-group">
                    <label class="control-label">Receipt #</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.receiptnumber">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Paid Date</label>
                    <div class="controls">
                        <input type="text" class="input-small" ng-change="alert('yo');" ng-model="sub.paymentdate" data-date-format="yyyy/mm/dd" bs-datepicker>{{sub.paymentdate}}
                    </div>
                </div>
            </div> <!-- end Music Dep -->
            <div class="form-box">
                <h6 class="sideheader">System</h6>
                
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Created</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge uneditable-input" ng-model="sub.createddate">
                    </div>
                </div>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">Modified</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge uneditable-input" ng-model="sub.changeddate">
                    </div>
                </div>
                <div class="control-group" style="clear:both;">
                    <label class="control-label">User</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" ng-model="sub.changeduser">
                    </div>
                </div>
            </div>
        </div> <!-- end span 6  -->
        
    </div> <!-- end row  -->    
    
   <div class="inline pad-top">   
        <button type="submit" ng-click="saveSubscriber();" class="btn btn-primary">Update</button>
        <button type="submit" ng-click="deleteSubscriber();" class="btn btn-danger">Delete</button>   
    </div>    
            
</div>   

</fieldset>
</form>