<div class="row-fluid brown-border-bottom">
<h3 class="pad-bot">Subscribers</h3>
<form name="subscriberSearchForm" ng-submit="search()">
    <strong>Search: </strong>
    <input class="input-medium search-query" type="search" name="subName" placeholder="Name" ng-model="subscriberSearchFormData.subName" typeahead-min-length="3" typeahead="suggestion for suggestion in subsuggest($viewValue)" ng-uppercase-input />

    <button class="btn btn-primary" type="submit" id="search-button">Search</button>
    <button class="btn btn-danger" type="button" ng-click="clearForm();" id="clear-button">Clear</button>
    
    <a style="padding-left:20px;" href="" ng-click="isCollapsed = !isCollapsed">Advanced Search</a>
    
    <button class="btn btn-success" ng-click="add();" type="button" style="float:right;">Add New Subscriber</button>
        
     <div collapse="!isCollapsed">
		<div style="margin-top:10px;" class="well well-large">
            <div class="control-group controls-row" style="padding:10px 0;">
             <input class="input-small search-query" type="search" name="subemail" ng-model="subscriberSearchFormData.subemail" placeholder="Email" />
            <input class="input-small search-query" type="search" name="subnumber" ng-model="subscriberSearchFormData.subnumber" placeholder="Sub Number" />
            </div> 
        </div>
	</div>
    <div>
    <p class="text-warning" style="font-size:.9em;margin-top:15px;">How to search: <strong>Lastname, First</strong> (will autocomplete), <strong>Firstname Last</strong> (will get full name), <strong>Eithername</strong>, (will search first and last names for your entry). </p>
    </div>
    </form>   
</div>  
<div class="row-fluid">        
<div ng-show="subscribers.$resolved && subscribers.length != 0">   
<h5>{{subscribers.length}} subscribers found.</h5>   

<table class="table table-striped">
        <tr>

          <th><a href="" ng-click="predicate = 'sublastname'; reverse=!reverse">Name</a></th>
          <th><a href="" ng-click="predicate = 'subnumber'; reverse=!reverse">ID</a></th>
          <th><a href="" ng-click="predicate = 'createddate'; reverse=!reverse">Date Joined</a><i class="icon-arrow-down"></i></th>
        </tr>
        <tr ng-repeat="sub in subscribers  | orderBy:predicate:reverse">
          
            <td><a href="#/subscribers/{{sub.subnumber}}">{{sub.subfirstname}} {{sub.sublastname}}</a></td>
          <td>{{sub.subnumber}}</td>
          <td>{{sub.createddate}}</td>
        </tr>
      </table>
</div>
<div class="row-fluid" ng-show="subscribers.$resolved && subscribers.length == 0">
        <h3>No one found yo!</h3>
</div>   
</div>